// font icons support
@font-face {
	font-family: 'lGallery';
	src:url('../fonts/lGallery.eot?-hklsim');
	src:url('../fonts/lGallery.eot?#iefix-hklsim') format('embedded-opentype'),
		url('../fonts/lGallery.woff?-hklsim') format('woff'),
		url('../fonts/lGallery.ttf?-hklsim') format('truetype'),
		url('../fonts/lGallery.svg?-hklsim#lGallery') format('svg');
	font-weight: normal;
	font-style: normal;
}