// default theme
.lGalleryActions{
	.lGalleryNext, .lGalleryPrev{
		background-color: rgba(255, 255, 255, 0.12);
	    border-radius: 2px;
	    color: #fff;
	    cursor: pointer;
	    display: block;
	    font-family: "lGallery";
	    font-size: 22px;
	    margin-top: -11px;
	    padding: 7px 10px;
	    position: absolute;
	    top: 50%;
	    z-index: 99;
	    &.disabled{
	    	pointer-events:none;
	    	opacity: 0.5;
	    }
	}
	.lGalleryNext{
		right: 20px;
		&:before {
			content: "\f054";
		}
	}
	.lGalleryPrev{
		left: 20px;
		&:after {
			content: "\f053";
		}
	}
}
@include keyframes(lGalleryRightEnd){
    0% {
		left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
		left: 0;
	}
}
@include keyframes(lGalleryLeftEnd){
    0% {
		left: 0;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0;
	}
}
.lGalleryOuter{
	&.lGalleryRightEnd{
		.lGalleryObject{
			@include animation(lGalleryRightEnd 0.3s);	
			position: relative;
		}	
	}
	&.lGalleryLeftEnd{
		.lGalleryObject{
			@include animation(lGalleryLeftEnd 0.3s);	
			position: relative;
		}	
	}
} 


// lGallery toolbar
.lGalleryToolbar{
	.lGalleryClose{
		color: #fff;
    	cursor: pointer;
	    font-family: "lGallery";
	    font-size: 22px;
	    height: 20px;
	    position: absolute;
	    right: 15px;
	    top: 10px;
	    width: 20px;
	    z-index: 9;
	    &:after {
			content: "\f00d";
		}	
	}
}

// lightGallery toolbar

.lGallerySubHtml {
	background-color: rgba(0, 0, 0, 0.45);
    bottom: 0;
    color: #fff;
    font-size: 16px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 9;
}

.lGalleryFullScreen {

    color: #fff;
	cursor: pointer;
    font-family: "lGallery";
    font-size: 22px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 10px;
    width: 20px;
    z-index: 9;

    &:after {
    	content: "\f065";
	    .lGalleryFullScreenOn &{
    		content: "\f066";
	    }
    }

}