@font-face {
  font-family: 'lGallery';
  src: url("../fonts/lGallery.eot?-hklsim");
  src: url("../fonts/lGallery.eot?#iefix-hklsim") format("embedded-opentype"), url("../fonts/lGallery.woff?-hklsim") format("woff"), url("../fonts/lGallery.ttf?-hklsim") format("truetype"), url("../fonts/lGallery.svg?-hklsim#lGallery") format("svg");
  font-weight: normal;
  font-style: normal;
}
.lGalleryActions .lGalleryNext, .lGalleryActions .lGalleryPrev {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "lGallery";
  font-size: 22px;
  margin-top: -11px;
  padding: 7px 10px;
  position: absolute;
  top: 50%;
  z-index: 99;
}
.lGalleryActions .lGalleryNext.disabled, .lGalleryActions .lGalleryPrev.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.lGalleryActions .lGalleryNext {
  right: 20px;
}
.lGalleryActions .lGalleryNext:before {
  content: "\f054";
}
.lGalleryActions .lGalleryPrev {
  left: 20px;
}
.lGalleryActions .lGalleryPrev:after {
  content: "\f053";
}

@-webkit-keyframes lGalleryRightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes lGalleryRightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes lGalleryRightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@keyframes lGalleryRightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes lGalleryLeftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes lGalleryLeftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes lGalleryLeftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@keyframes lGalleryLeftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
.lGalleryOuter.lGalleryRightEnd .lGalleryObject {
  -webkit-animation: lGalleryRightEnd 0.3s;
  -o-animation: lGalleryRightEnd 0.3s;
  animation: lGalleryRightEnd 0.3s;
  position: relative;
}
.lGalleryOuter.lGalleryLeftEnd .lGalleryObject {
  -webkit-animation: lGalleryLeftEnd 0.3s;
  -o-animation: lGalleryLeftEnd 0.3s;
  animation: lGalleryLeftEnd 0.3s;
  position: relative;
}

.lGalleryToolbar .lGalleryClose {
  color: #fff;
  cursor: pointer;
  font-family: "lGallery";
  font-size: 22px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  z-index: 9;
}
.lGalleryToolbar .lGalleryClose:after {
  content: "\f00d";
}

.lGallerySubHtml {
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  color: #fff;
  font-size: 16px;
  left: 0;
  padding: 10px 40px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9;
}

.lGalleryFullScreen {
  color: #fff;
  cursor: pointer;
  font-family: "lGallery";
  font-size: 22px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 10px;
  width: 20px;
  z-index: 9;
}
.lGalleryFullScreen:after {
  content: "\f065";
}
.lGalleryFullScreenOn .lGalleryFullScreen:after {
  content: "\f066";
}

.lGalleryCSS3.lGalleryFade .lGalleryItem {
  -webkit-transition: none 0s ease 0s;
  -moz-transition: none 0s ease 0s;
  -o-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  opacity: 0;
}
.lGalleryCSS3.lGalleryFade .lGalleryItem.lGalleryCurrent {
  opacity: 1;
}
.lGalleryCSS3.lGalleryFade .lGalleryItem.lGalleryPrevSlide, .lGalleryCSS3.lGalleryFade .lGalleryItem.lGalleryNextSlide, .lGalleryCSS3.lGalleryFade .lGalleryItem.lGalleryCurrent {
  -webkit-transition: opacity 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s;
  -o-transition: opacity 0.1s ease 0s;
  transition: opacity 0.1s ease 0s;
}
.lGalleryCSS3.lGallerySlide .lGalleryItem {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: none 0s ease 0s;
  -moz-transition: none 0s ease 0s;
  -o-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  opacity: 0;
}
.lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryPrevSlide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryNextSlide {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryCurrent {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryPrevSlide, .lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryNextSlide, .lGalleryCSS3.lGallerySlide .lGalleryItem.lGalleryCurrent {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
}
.lGalleryCSS3.lGalleryNoTrans .lGalleryPrevSlide, .lGalleryCSS3.lGalleryNoTrans .lGalleryNextSlide, .lGalleryCSS3.lGalleryNoTrans .lGalleryCurrent {
  -webkit-transition: none 0s ease 0s !important;
  -moz-transition: none 0s ease 0s !important;
  -o-transition: none 0s ease 0s !important;
  transition: none 0s ease 0s !important;
}

.lGalleryOuter .lGalleryThumbOuter {
  background-color: #000;
  bottom: 0;
  height: 100px;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.lGalleryOuter .lGalleryThumbItem {
  border-radius: 5px;
  cursor: pointer;
  float: left;
  opacity: 0.7;
  overflow: hidden;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.lGalleryOuter .lGalleryThumbItem.active, .lGalleryOuter .lGalleryThumbItem:hover {
  opacity: 1;
}
.lGalleryOuter .lGalleryThumb.on {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
}
.lGalleryOuter.hasThumbnail .lGalleryItem {
  padding-bottom: 120px;
}

.lGalleryOuter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #0d0d0d;
}
.lGalleryOuter.lGalleryCSS3 .lGalleryItem.lGalleryPrevSlide, .lGalleryOuter.lGalleryCSS3 .lGalleryItem.lGalleryNextSlide, .lGalleryOuter.lGalleryCSS3 .lGalleryItem.lGalleryCurrent {
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.lGalleryOuter.lGalleryCSS3.lGalleryDragging .lGalleryItem.lGalleryPrevSlide, .lGalleryOuter.lGalleryCSS3.lGalleryDragging .lGalleryItem.lGalleryNextSlide, .lGalleryOuter.lGalleryCSS3.lGalleryDragging .lGalleryItem.lGalleryCurrent {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  opacity: 1;
}
.lGalleryOuter.lGalleryGrab img.lGalleryObject {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lGalleryOuter.lGalleryGrabbing img.lGalleryObject {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.lGalleryOuter .lGallery {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
.lGalleryOuter .lGalleryInner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.lGalleryOuter .lGalleryItem {
  background: url(../img/loading.gif) no-repeat scroll center center transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
}
.lGalleryOuter .lGalleryItem.lGalleryComplete {
  background-image: none;
}
.lGalleryOuter .lGalleryItem:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
.lGalleryOuter .lGalleryItem.lGalleryCurrent {
  z-index: 9;
}
.lGalleryOuter .lGalleryItem > img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.lGalleryOuter.lGalleryShowAfterLoad .lGalleryItem > * {
  opacity: 0;
}
.lGalleryOuter.lGalleryShowAfterLoad .lGalleryItem.lGalleryComplete > * {
  opacity: 1;
}

/*# sourceMappingURL=lightgallery.css.map */
